<div>
    <form name="createManufacturer">
        <div class="modal-header"> {{vm.title}}
            <button ng-click="$dismiss()" class="close pull-right" aria-hidden="true">&times;</button>
            <div class="clearfix"></div>
        </div>
        <div class="modal-body">
            <div class="row form-horizontal" ng-validate-form="vm.activeSubstanceValidation">
                <div class="form-group">
                    <div class=" col-xs-12">
                        <label>ATC Name <span class="text-danger">*</span></label>
                        <ui-select ng-model="vm.inn" theme="bootstrap" ng-validate="vm.importPermitValidation.header.commoditytypeid">
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat=" item in vm.excipients | filter: $select.search |orderBy:'name'">
                                <div ng-bind-html="item.name | highlight: $select.search "></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-12 " ng-if="!vm.supplierValidation.name && vm.supplierValidation.$showError">
                        <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>ATC Code <span class="text-danger">*</span></label>
                        <div>
                            <p type="text" ng-model="vm.supplier.phone" ng-validate="vm.supplierValidation.phone"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="buttons">
                <button type="submit" ng-if="vm.title.toLowerCase().indexOf('update')>-1" class="btn btn-primary btn-outline" ng-click="vm.updateActiveSubstances()">
          Update
        </button>
                <button type="submit" ng-if="vm.title.toLowerCase().indexOf('new')>-1" class="btn btn-primary btn-outline" ng-click="vm.addActiveIngredients()">
          Add
        </button>
                <button type="button" class="btn btn-default btn-outline" ng-click="$dismiss()">
          Cancel
        </button>
            </div>
        </div>
    </form>
</div>
