BackEnd/src/PDX.BLL/bin/
BackEnd/src/PDX.API/obj/
BackEnd/src/PDX.BLL/obj/
BackEnd/src/PDX.DAL/bin/
BackEnd/src/PDX.DAL/obj/
BackEnd/src/PDX.API/bin/
BackEnd/src/PDX.Domain/bin/
BackEnd/src/PDX.Domain/obj/
BackEnd/.vscode/
BackEnd/src/PDX.API/node_modules/
BackEnd/src/PDX.Schedule/bin/
BackEnd/src/PDX.Schedule/node_modules/.bin/acorn
BackEnd/src/PDX.Schedule/node_modules/
BackEnd/src/PDX.Schedule/obj/Debug/
BackEnd/src/PDX.Scheduler/node_modules/
BackEnd/src/PDX.Scheduler/bin/
BackEnd/src/PDX.Scheduler/obj/
BackEnd/src/PDX.Scheduler/smtp.log
BackEnd/src/PDX.Logging/bin/
BackEnd/src/PDX.Logging/obj/

FrontEnd/node_modules/
FrontEnd/bower_components/
FrontEnd/.tmp/
FrontEnd/dist/
node_modules/
bower_components/
.tmp/
dist/
debug.log
.vscode/
.idea/
src/app/config\.js
.scannerwork/

FrontEnd/src/app/config\.js

FrontEnd/.idea/

src/app/config\.js

\.idea/

FrontEnd/

package-lock\.json
