<div class="ibox-content">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Attachement</th>
                    <th>File Name</th>
                    <th>Source</th>
                    <th>Uploaded</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="md in vm.moduleDocuments | orderBy: '-createdDate'" track by $index>
                    <td>{{$index + 1}}</td>
                    <td>
                        {{md.moduleDocument.documentType.name}}
                        <br>
                        <small>{{md.moduleDocument.documentType.description}}</small>
                    </td>
                    <td>
                        {{md.originalFileName | filterNull}}
                    </td>
                    <td>
                        {{md.moduleDocument.documentType.isSystemGenerated|AttachmentSource}}
                    </td>
                    <td>{{md.createdDate|date}}</td>
                    <td>
                        <button class="btn btn-primary btn-outline" type="button" ng-click="vm.openFileModal(md)">
                                            <i class="fa fa-eye text-navy"></i>
                                    </button>
                        <button class="btn btn-primary btn-outline" type="button" ng-click="vm.downloadAttachment(md)" ng-href="{{vm.fileURL}}" download="{{md.moduleDocument.documentType.name}}">
                                    <i class="fa fa-download text-navy"></i>
                            </button>
                        <!-- <button class="btn btn-primary btn-outline" type="button" ng-click="vm.printAttachment(md)" ng-if="md.moduleDocument.documentType.isSystemGenerated && (!vm.userInfo.isAgent || (md.moduleDocument.documentType.documentTypeCode!=='POCR' && md.moduleDocument.documentType.documentTypeCode!=='PORR'))"
                            ng-href="{{vm.fileURL}}" download="{{md.moduleDocument.documentType.name}}">
                                    <i class="fa fa-print text-navy"></embed></i>
                            </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
