<div class="row">
    <uib-accordion close-others="false" class="panel-group payments-method">
        <div uib-accordion-group ng-class="{currentslide: is-open==true}" is-open="true">
            <uib-accordion-heading>
                <h5 class="panel-title">
                    Manufacturers <i style="font-size:14px;" ng-if="vm.isLegacyEdited && vm.fieldEditedInLegacyUpdate('Manufacturers')" class="fa text-warning fa-exclamation-circle"></i>
                </h5>
            </uib-accordion-heading>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>No</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Manufacturing Site Address</th>
                                <th>Type</th>
                                <th>GMP Inspection</th>
                                <th>Certificate Number</th>
                                <th>GMP Inspection Date</th>
                                <th>License Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="man in vm.maregistration.product.productManufacturers" track by $index>
                                <td>{{$index+1}}</td>
                                <td>{{man.manufacturerAddress.manufacturer.name}}</td>
                                <td>{{man.manufacturerAddress.address.country.name}}</td>
                                <td>{{man.manufacturerAddress.address.placeName | filterNull}}</td>
                                <td>{{man.manufacturerType.name || man.manufacturer_type.name}}</td>
                                <td>{{man.manufacturerAddress.manufacturer.isGMPInspected? "Yes" : "No"}}</td>
                                <td>{{man.manufacturerAddress.manufacturer.gmpCertificateNumber | filterNull}}</td>
                                <td>{{man.manufacturerAddress.manufacturer.gmpInspectedDate | filterNull | date}}</td>
                                <td>{{man.manufacturerAddress.manufacturer.licenseNumber | filterNull}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div uib-accordion-group ng-class="{currentslide: is-open==true}">
            <uib-accordion-heading>
                <h5 class="panel-title">
                    Foreign Application Status
                </h5>
            </uib-accordion-heading>
            <div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Country</th>
                                    <th>Status Type</th>
                                    <th>Certificate Number</th>
                                    <th>Date of Decision</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="md in vm.maregistration.ma.foreignApplications" track by $index>
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        {{md.country.name}}
                                    </td>
                                    <td>{{md.foreignApplicationStatus.name}}</td>
                                    <td>{{md.certificateNumber}} </td>
                                    <td>{{md.decisionDate|date}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>