<fieldset ng-validate-form="vm.maregistrationValidation.terms" class="m-xs">
    <div class="col-xs-12">
        <h3>
            I the undersigned certify that all the information in the accompanying documentation concerning an application for a marketing authorization for:
        </h3>
    </div>

    <div class="col-xs-11 p-xxs">
        <div class="col-xs-6">
            <ul class="list-group clear-list">
                <li class="list-group-item fist-item">
                    <b>Product Name</b>
                    <span> : {{vm.marenewal.previousAppDetail.product.brandName}} </span>
                </li>
                <li class="list-group-item">
                    <b>Dosage Form </b>
                    <span> : {{vm.marenewal.previousAppDetail.product.dosageFormObj.name}} </span>
                </li>
                <li class="list-group-item">
                    <b>Local Agent </b>
                    <span> : {{vm.marenewal.previousAppDetail.ma.agent.name}} </span>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="list-group clear-list">
                <li class="list-group-item fist-item">
                    <b>Generic Name</b>
                    <span> : {{vm.marenewal.previousAppDetail.inn.name}} </span>
                </li>
                <li class="list-group-item">
                    <b>Manufacturer Name </b>
                    <span> : {{vm.finishedProductManufacturer.manufacturerAddress.manufacturer.name}}</span>
                </li>
                <li class="list-group-item">
                    <b>Product Description </b>
                    <span> : {{vm.marenewal.previousAppDetail.product.description}} </span>

                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12">
        <h3>is correct and true, and reflects the total information available. I further certify that I have examined the following statements and I attest to their accuracy.</h3>
        <h3>I further confirm that the information referred to in my application file is available for verification. I also agree that I am obliged to comply with the requirements of the authority at any time point in future.</h3>
    </div>
    <div class="col-xs-12">
        <hr>
        <input icheck id="acceptTerms" name="acceptTerms" type="checkbox" ng-model="vm.maregistration.ma.terms" class="required" ng-validate="vm.maregistrationValidation.terms.term" ng-change="vm.maregistration.ma.terms=vm.maregistration.ma.terms===false?undefined:true">
        <label class="p-xs" for="acceptTerms">I agree with the Terms and Conditions.</label>
        <small ng-if="!vm.maregistrationValidation.terms.term && vm.maregistrationValidation.terms.$showError" ng-include="'app/importPermit/new/templates/requiredField.html'"></small>
    </div>

</fieldset>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a ng-click="vm.saveDraft()" ng-if="!vm.isLegacy && !vm.firOrRta" class="btn btn-default">Save</a>
            <a ui-sref="{{vm.states.checklist}}" class="btn btn-default">Previous</a>
            <a ng-click="vm.SubmitNewApplication()" class="btn btn-primary">Submit</a>
        </div>
    </div>
</div>
