<fieldset ng-validate-form="vm.registrationRenewal.previousApplication" class="form-horizontal">
    <div ng-if="!vm.editMode">
        <div class="col-lg-6">
            <div style="padding-right: 10px">
                <div class="form-group">
                    <div>
                        <label>Registered Product<span class="text-danger">*</span></label>
                        <ui-select ng-model="vm.selectedApp" theme="bootstrap" on-select="vm.onApplicationSelected()" ng-validate="vm.registrationRenewal.previousApplication.ma" ng-disabled="vm.editMode">
                            <ui-select-match placeholder="Select Product">{{$select.selected.product.fullItemName}}
                            </ui-select-match>
                            <ui-select-choices repeat=" item in vm.previousApps| filter: $select.search |orderBy:'maNumber'">
                                <div ng-bind-html=" '<b>' + item.product.fullItemName + '<b>' | highlight: $select.search "></div>
                                <small ng-bind-html="item.ma.certificateNumber + ' - ' +  (item.ma.expiryDate |date)"></small>
                            </ui-select-choices>
                            <ui-select-no-choice>No application is currently available for renewal</ui-select-no-choice>
                        </ui-select>

                    </div>

                </div>
                <div class=" text-error-table" ng-if=" !vm.registrationRenewal.previousApplication.ma && vm.registrationRenewal.previousApplication.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>

            </div>
        </div>


        <div class="row" ng-if="vm.selectedApp">
            <div class="col-lg-12">
                <div class="ibox-content">
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">

                            <dt>Previous Application:</dt>
                            <dd><a ng-click="vm.gotoOriginalMA(vm.marenewal.previousAppDetail.ma.id)">{{vm.marenewal.previousAppDetail.ma.certificateNumber | filterNull}}</a></dd>
                            <dt>Expiry Date:</dt>
                            <dd>{{vm.marenewal.previousAppDetail.ma.expiryDate | date | filterNull}}</dd>
                            <dt>Status:</dt>
                            <dd>{{vm.marenewal.previousAppDetail.ma.maStatus.displayName | filterNull}}</dd>
                            <dt>Applicant:</dt>
                            <dd>{{vm.marenewal.previousAppDetail.ma.agent.name | filterNull}}</dd>
                            <dt>License Holder:</dt>
                            <dd>{{vm.marenewal.previousAppDetail.ma.supplier.name | filterNull}}</dd>
                            <dt>SRA:</dt>
                            <dd>{{vm.marenewal.previousAppDetail.ma.sra | filterNull}}</dd>

                        </dl>
                    </div>
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            <div>
                                <dt>Product Name:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.brandName | filterNull}}</dd>
                                <dt>Generic Name:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.genericName | filterNull}}</dd>
                                <dt>Dosage Strength:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.dosageStrengthObj.name | filterNull}}</dd>
                                <dt>Dosage Form:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.dosageFormObj.name | filterNull}}</dd>
                                <dt>Pack Size:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.presentation | filterNull}}</dd>

                            </div>
                            <div ng-if="vm.submoduleTypeCode === vm.CONSTANT.SUB_MODULE_TYPE.MEDICINE">
                                <dt>Category:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.productCategory.name | filterNull}}</dd>
                                <dt>Age Group:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.ageGroup.name | filterNull}}</dd>
                                <dt>Pharmacological Classification:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.pharmacologicalClassification.name | filterNull}}</dd>
                                <dt>Dosage Unit:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.dosageUnitObj.name | filterNull}}</dd>
                            </div>
                            <div ng-if="vm.submoduleTypeCode === vm.CONSTANT.SUB_MODULE_TYPE.FOOD">
                                <dt>Product Type:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.productType.name | filterNull}}</dd>
                                <dt>Type of Technology:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.typeOfTechnology | filterNull}}</dd>
                            </div>
                            <div ng-if="vm.submoduleTypeCode === vm.CONSTANT.SUB_MODULE_TYPE.MEDICAL_DEVICE">
                                <dt>Device Group:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.productMD.mdGrouping.name | filterNull}}</dd>
                                <dt>Device Class:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.productMD.deviceClass.name | filterNull}}</dd>
                                <dt>Classification Rule:</dt>
                                <dd>{{vm.marenewal.previousAppDetail.product.productMD.classificationRule | filterNull}}</dd>
                            </div>
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="vm.editMode">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="col-lg-6">
                    <dl class="dl-horizontal">

                        <dt>MA:</dt>
                        <dd>{{vm.marenewal.ma.maNumber | filterNull}}</dd>
                        <dt>Expiry Date:</dt>
                        <dd>{{vm.marenewal.ma.expiryDate | date}}</dd>
                        <dt>Status:</dt>
                        <dd>{{vm.marenewal.ma.maStatus.displayName | filterNull}}</dd>
                        <dt>Applicant:</dt>
                        <dd>{{vm.marenewal.ma.agent.name | filterNull}}</dd>
                        <dt>License Holder:</dt>
                        <dd>{{vm.marenewal.ma.supplier.name | filterNull }}</dd>

                    </dl>
                </div>
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>Product Name:</dt>
                        <dd>{{vm.marenewal.product.name | filterNull}}</dd>
                        <dt>Generic Name:</dt>
                        <dd>{{vm.marenewal.product.genericName | filterNull}}</dd>
                        <dt>Dosage Form:</dt>
                        <dd>{{vm.marenewal.product.dosageFormObj.name | filterNull}}</dd>
                        <dt>Dosage Unit:</dt>
                        <dd>{{vm.marenewal.product.dosageUnitObj.name | filterNull}}</dd>

                    </dl>
                </div>

            </div>
        </div>
    </div>


</fieldset>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a ng-if="!vm.allowEditLegacyData()" ng-click="vm.previousAppToAttachement()" class="btn btn-primary">Next</a>
            <a ng-if="vm.allowEditLegacyData()" ng-click="vm.editLegacyData()" title="This is legacy data, please edit it before you can apply renewal." class="btn btn-primary">Edit</a>
            <a ng-click="vm.calculateFee()" ng-if="!vm.isUpdate" class="btn btn-white">Calculate Fee</a>
        </div>
    </div>
</div>


<div class="row" ng-if="vm.showCalculateFeeResult">
    <div class="col-md-6">
        <h4>Required Documents</h4>
        <div ng-include src="'checklist-body'">

        </div>
    </div>
    <div class="col-md-6">
        <h4>Required Payments</h4>
        <div>
            <table class="table table-hovered table-striped detailTable">
                <tr ng-repeat="fee in vm.submoduleFeeType | orderBy:'name' track by fee.id">
                    <td>
                        {{fee.feeType.name}} &nbsp; {{fee.feeType.currency.symbol}} &nbsp;{{fee.fee}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template " id="checklist-body">
    <tr ng-repeat-start="checklist in vm.submoduleCheckList | orderBy:'priority' track by checklist.id " ng-init="checklist.rowExpanded=true;" class="col-lg-12" style="padding-left:0">
        <td>
            {{checklist.label}} &nbsp; {{checklist.name}}
            <span ng-if="checklist.rowExpanded==false && checklist.children.length>0" ng-click="checklist.rowExpanded=true" class="btn-sm glyphicon glyphicon-menu-down"></span>
            <span ng-if="checklist.rowExpanded==true && checklist.children.length>0" ng-click="checklist.rowExpanded=false" class="btn-sm glyphicon glyphicon-menu-up"></span>
        </td>
    </tr>
    <tr ng-if="checklist.rowExpanded==true" ng-repeat-end class="col-lg-12" style="padding-left:0">
        <td ng-include src="'checklist-children'" class="col-lg-12"></td>
    </tr>

</script>

<script type="text/ng-template " id="checklist-children">
    <table class="table table-hovered table-striped">
        <tr ng-repeat-start="checklist in checklist.children | orderBy:'priority' track by checklist.id" ng-init="checklist.rowExpanded=false;">
            <td class="col-lg-12">
                {{checklist.label}} &nbsp; {{checklist.name}}
                <span ng-if="checklist.rowExpanded==false && checklist.children.length>0" ng-click="checklist.rowExpanded=true" class="btn-sm glyphicon glyphicon-menu-down"></span>
                <span ng-if="checklist.rowExpanded==true && checklist.children.length>0" ng-click="checklist.rowExpanded=false" class="btn-sm glyphicon glyphicon-menu-up"></span>
            </td>
        </tr>
        <tr ng-if="checklist.rowExpanded==true" ng-repeat-end>
            <td>
                <ng-include src="'checklist-children'"></ng-include>
            </td>
        </tr>
    </table>
</script>