<div class="wrapper wrapper-content animated fadeInRight container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <a title="back" ui-sref="applicants" class="btn btn-primary btn-outline pull-left btn-xs"><i class="fa fa-arrow-left" ></i></a>
      <span class="detailTitle">Applicant Detail</span>
    </div>
    <div class="ibox-content">
        <uib-tabset id="agentDetail" active="vm.activeTab" justified="false">
            <uib-tab index="0" heading="Applicant Detail" select="vm.tabChanged(0)">
                <div ng-include="'app/agent/template/agent.detail.template.html'"></div>
            </uib-tab>
            <uib-tab index="1" heading="Products" select="vm.tabChanged(1)">
                <div ng-include="'app/public/view/templates/agent.products.template.html'"></div>
            </uib-tab>
            <!--<uib-tab index="2" heading="Suppliers" select="vm.tabChanged(2)">
                <div ng-include="'app/agent/template/agent.suppliers.template.html'"></div>
            </uib-tab>-->
        </uib-tabset>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.navbar-default').addClass('navbar-scroll')
  });
</script>

