<div class="row">
  <form  name="changeForm"  class="m-t" role="form"  ng-validate-form="vm.changeValidation">
    <div class="form-group col-md-12" >
      <div class="col-xs-12">
        <label>New Password *</label>
        <div>
          <input type="password" name="newPassword" class="form-control" ng-model="vm.changeModel.newPassword" ng-validate="vm.changeValidation.newPassword">
        </div>
      </div>
      <div class="col-xs-12 ">
        <span ng-if="!vm.changeValidation.newPassword && vm.changeValidation.$showError && vm.passwordConfirmed" class="help-block text-danger">New password is required</span>
        <span ng-if="!vm.passwordConfirmed && changeForm.newPassword.$touched" class="help-block text-danger">New password doesn't match</span>
      </div>
    </div>
    <div class="form-group col-md-12">
      <div class="col-xs-12">
        <label>Confirm *</label>
        <div>
          <input type="password" name="Confirm" class="form-control" ng-model="vm.changeModel.Confirm" ng-validate="vm.changeValidation.confirm">
        </div>
      </div>
      <div class="col-xs-12 ">
        <span ng-if="!vm.changeValidation.confirm && vm.changeValidation.$showError && vm.passwordConfirmed" class="help-block text-danger">Confirmation is required</span>
        <span ng-if="!vm.passwordConfirmed && changeForm.Confirm.$touched" class="help-block text-danger">New password doesn't match</span>
      </div>
    </div>
  </form>
</div>
