<div class="wrapper wrapper-content animated fadeInRight container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>About Us</h1>
        </div>
        <div class="ibox-content text-justify">
            <br/>
            <p>The government of Ethiopia has issued proclamation 661/2009 in order to protect the public health from unsafe, inefficacious and poor quality of medicines that are either imported or locally manufactured to be made available on the Ethiopian
                market. Medicines safety, efficacy and quality will be ensured through different mechanisms including good manufacturing practice inspection, standardized premarketing dossier evaluation, quality control analysis, port inspection and post
                marketing quality and safety monitoring of the medicines.
            </p>
            <br/>
            <p>

                The Ethiopian Food and Drug Authority (EFDA) is mandated, in the proclamation 661/2009, to ensure the safety, quality and efficacy of medicines. To achieve this, the authority has been working on different regulatory activities. The medicine market authorization
                system is one of the top priority areas that have been implemented. In addition to the dedicated assessors, the authority uses a national drug advisory committee for the assessment and registration of medicines. This has evolved through
                the years to improve the medicine dossier evaluation system. As the Socioeconomic development of the nation is transforming, there is a high flow of investments in the healthcare. However, the market authorization system available at this
                time is yet unable to satisfy and fully accommodate the demands coming in to the country.
            </p>
            <br/>
            <p>

                To address these issues, automation emplacement is demanding for the government. Hence, EFDA has developed medicine registration information system that is the conversant and demanding system to implement. This system ensures good governance, transparency,
                accountability, traceability and speed of work. In addition to this, medicine registration information system increases access to registered medicines information to different type of users in this endeavour. iImport helps not only for
                dossier evaluation but also it has online interface to help applicants to apply their application without the limitation to location. It is a web based system.
            </p>
            <br/>
            <p>

                Medicine registration and licensing directorate strives to offer quality, safe and effective medicines in the pursuit of protecting public health through its competent and dedicated staffs. Currently the directorate consists of pharmacists, pharmacologists,
                public health specialists, clinical pharmacists, pharmaceutics experts, biomedical engineers and secretary.
            </p>
            <br/>
            <p>
                The Authority is found at the Ethiopian capital, Addis Ababa, in Addis Ababa City Administration at a distance of 5km from Bole international airport. Its address is at Africa Avenue, near wolosefer, Kirkos sub city, 02/03 kebelle, 02 House number, Tel:
                +251-115-524120/22, Fax: +251-115-52411392, Website: fmhaca.gov.et, E-mail: regulatory@fmhaca.gov.et.
            </p>
            <br/>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.navbar-default').addClass('navbar-scroll')
    });
</script>