<div class="product wrapper wrapper-content animated fadeInRight container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Canceled Products</h1>
    </div>

    <div class="ibox-content">
      <div class="table-responsive">
        <table id="publicCancelledProducts" class="table table-striped" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"></table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.navbar-default').addClass('navbar-scroll')
  });
</script>


