<div class="product wrapper wrapper-content animated fadeInRight container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Product Registration</h1>
    </div>

    <div class="ibox-content text-justify">
        <p>
          Registration of medicines is focal point of any regulatory framework. The registration section is responsible
          for reviewing application dossiers submitted for the registration of medicines, related substances and medical
          devices. In addition it also reviews all post registration amendments made to any registered medicines,
          related substances and medical devices. Those in need of applying for registration of medicines in
          Ethiopia are guided to download and acquaint themselves with the registration guidelines and the
          medicines application form, the MRF.
        </p>

        <p>
          The registration activities are summarized below:
        </p>
       <ul>
           <li>
             Medicine application dossiers from pending applications are received, screened for completeness and that
             application fees have been included.
           <li>
              Data on the dossiers is entered into Medicine Registration Information System (MRIS) data base;
              an application number is allocated and information communicated to the applicant.
           </li>
           <li>
             Dossier is scheduled for evaluation by staff of the registration section. A detailed evaluation report is
             generated. Deficiencies, missing information, gaps that need further works etc communicated to applicant and
             deadline to respond to queries outlined.
           </li>
           <li>
             Completed dossier reports, pharmaceutical quality laboratory assessment and recommendation are forwarded to
             the medicine registration and licensing directorate Director of FMHACA for approval.
           </li>
           <li>
             For new molecules to Ethiopia the advisory committee recommended whether a product is to be registered or not
             will also be forwarded to the registration director.
           </li>
           <li>
             Products approved by FMHACA based on the recommendation of the dossier assessor team ,
             the laboratory quality assessment and the clinical review advisory committee a
             registration number and a market authorization certificate will be given to the product
             and the applicant respectively. The product is then entered into the Medicines Register.
           </li>
         </ul>
        <p>
          Other activities done by the registration section include, but not limited to:
        </p>
         <ul>
           <li>
             Processing of import / export permits for Narcotic and Psychotropic Substances controlled in terms
             of the International Narcotics Control Board (INCB).
           </li>
           <li>
             Submission of quarterly and annual consumption reports of Narcotic and Psychotropic products
             to the International Narcotic Control Board.
           </li>
           <li>
             Pharmacovigilance monitoring
           </li>
           <li>
             Clinical trials centers approval and follow-up of clinical trial practices
           </li>
           <li>
             Registration medical supplies and equipment
           </li>
           <li>
             Future activities include cosmetics and herbal medicines registrations
           </li>
         </ul>
         <p>
            Staff members of the customer service directorate section are responsible for evaluating application
            for importation of unregistered medicines that are allowed for compassionate reasons.
            Such importation is authorized in terms of <strong>Part IV Section 13 PROCLAMATION NO. 661/2009
           Provided to FOOD, MEDICINE AND HEALTH CARE ADMINISTRATION AND CONTROL AUTHORITY.</strong>
         </p>
         <p>
            In order to register a product you must be a registered user of the website and login to the website. To be
            registered you must bring an authorization letter from your organization to get a user ID and password on
            behalf of your organization at FMHACA in order to use the Medicine Registration Information System (MRIS).
         </p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.navbar-default').addClass('navbar-scroll')
  });
</script>
