<div>
    <div class="modal-header"> Notice
        <button ng-click="$dismiss()" class="close pull-right" aria-hidden="true">&times;</button>

        <!-- <div class="clearfix"></div> -->
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="widget red-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">{{vm.daysLeft}}</h1>
                        <h3 class="font-bold no-margins">
                            Days Left
                        </h3>
                        <!-- <small>We detect the error.</small> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <h4 class="alert alert-info"> Starting on May 1st, 2019 <b class="text-danger">https://mris.fmhaca.gov.et</b> will not be available, Please use <a href="https://eris.efda.gov.et "><b  >https://eris.efda.gov.et</b></a> instead.</h>
        </div>
    </div>
    <div class="modal-footer">
    </div>

</div>