<style type="text/css">
    .temp-banner {
        margin-bottom: 0px !important;
        padding: 5px !important;
    }
    
    .temp-banner>p {
        text-align: center;
        margin: 0px;
        font-size: 13px;
    }
</style>
<div class="temp-banner alert alert-info" ng-if="vm.showBanner">
    <p> Starting on May 1st, 2019 <b class="text-danger">https://mris.fmhaca.gov.et</b> will not be available, Please use <a href="https://eris.efda.gov.et "><b  >https://eris.efda.gov.et</b></a> instead.</p>
</div>