<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <div ng-if="vm.agents <= 0" style="text-align:center; text-font:120%; color:red;">
      No agent is Found
    </div>
    <table ng-if="vm.agents.length>0" class="table table-hovered table-striped">
      <thead>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Status</th>
      </thead>
      <tbody>
      <tr ng-repeat="data in vm.agents | orderBy:'-isActive'" ng-class="{'redClass':data.agent.isActive==false}">
        <td>{{$index+1}}</td>
        <td>{{data.agent.name | filterNull}}</td>
        <td>{{data.agentLevel.name | filterNull}}</td>
        <td>{{data.agent.isActive?"Active":"Inactive"}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
    $(document).ready(function() {
        $('.navbar-default').addClass('navbar-scroll')
    });
</script>
