<li> For a medicine to have port clearance permission by the authority
    <ul>
        <li>a. If the medicine has three years or more shelf life, when it arrives in the port of entry it should have 60% or more of its shelf life.</li>
        <li>b. If the medicine has two years or less shelf life, when it arrives in the port of entry it should have 50% or more of its shelf life.</li>
        <li>c. For emergency cases, the medicine should have a shelf life of more than 50% of its shelf life on arrival at port entry of the country</li>
    </ul>
</li>
<li> Language used for writing label, leaflet and other documents shall be in English
</li>
<li>All packing should be suitable for road, air and sea transport under tropical conditions </li>
<li>The label of immediate container:-
    <ul>
        <li>• The name of the product, brand and generic/INN</li>
        <li>• Pharmaceutical dosage form and route of administration </li>
        <li>• Qualitative and quantitative composition of active ingredient(s) </li>
        <li>• Quantity in container, technical directions for use </li>
        <li>• Handling and storage requirements </li>
        <li>• Batch number, manufacturing and expiry date </li>
        <li>• Name and address of the company</li>
    </ul>
</li>
<li>
    Accompanying invoices should be as per the purchase order including Batch number, manufacturing and expiry date of each item
</li>
<li>Every product should be accompanied by a leaflet in its immediate container. A leaflet must bear adequate information for use and it should at least include:
    <ul>
        <li> • The name of the product: brand and generic/INN </li>
        <li> • Description appearance, pharmaceutical dosage form and route of administration </li>
        <li> • Qualitative and quantitative composition of active ingredients </li>
        <li> • Clinical pharmacology, indication(s), warning, precautions, contraindications, adverse reactions/side effects </li>
        <li> • Dosage and administration (direction for use) • Over dosage, storage instruction, package quantity, name and address of manufacturer.</li>
    </ul>
</li>