<li> For a device to have port clearance permission by the authority
    <ul>
        <li>• If the device has five years and above shelf life, when it arrives at the port of entry, it should have 60% or more of its shelf life.</li>
        <li>• If the device has less than five years shelf life, when it arrives at the port of entry, it should have 50% or more of its shelf life. </li>
        <li>• For emergency cases, the device should have a shelf life of more than 50% of its shelf life on arrival at port entry of the country.</li>
        <li>• For equipment, when it arrives at the port of entry, it shall have more than 60% of its total use by date.</li>
    </ul>
</li>
<li> Language used for writing label, leaflet and other documents shall be in English and/or Amharic. This should be legible, permanent and prominent manner that can be easily understood by the intended user.
</li>
<li> All packing should be suitable for road, air and sea transport under tropical conditions</li>
<li> The label shall bear at least the following particulars:-
    <ul>
        <li> a. The generic name or trade name of the device; </li>
        <li> b. The intended purpose of the device; </li>
        <li> c. Name and address of manufacturing site and/or name and address of license holder, if any </li>
        <li> d. Lot number or serial number or equivalent symbol of the device, as appropriate; </li>
        <li> e. Handling and storage condition </li>
        <li> f. If the device is sterile, an indication of its sterile state and sterilization method; </li>
        <li> g. If device is donated, the word ‘donated device’ need to add to other requirements </li>
        <li> h. Qualitative composition of the device and quantitative information of constituent (s), if any </li>
    </ul>
</li>
<li> Accompanying invoices should be as per the purchase order including Batch number, manufacturing and expiry date of each item, if any.</li>