<div class="row">

  <div ng-if="vm.agentUsers.length<=0" style="text-align:center; text-font:120%; color:red;">
    No user is linked to this agent
  </div>

  <table ng-if="vm.agentUsers.length>0" class="table table-hovered table-striped">
    <thead>
    <th></th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>email</th>
    <th>User Type</th>
    <th>Status</th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="agentUser in vm.agentUsers | orderBy:'-isActive'" ng-class="{'redClass':agentUser.isActive==false}">
      <td>{{$index+1}}</td>
      <td>{{agentUser.user.firstName | filterNull}}</td>
      <td>{{agentUser.user.lastName | filterNull}}</td>
      <td>{{agentUser.user.username | filterNull}}</td>
      <td>{{agentUser.user.email | filterNull}}</td>
      <td>{{agentUser.user.userType.name | filterNull}}</td>
      <td>{{agentUser.isActive == true ? 'Active': 'Inactive'}}</td>
      <td ng-if="agentUser.isActive">
        <button class="btn btn-warning  btn-outline btn-xs" title="Unlink user from agent"
                ng-click="vm.unlinkAgentUser(agentUser)">
          <i class="glyphicon glyphicon-resize-full"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

