<fieldset ng-validate-form="vm.maregistrationValidation.productdetail" class="form-horizontal">
    <div class="col-lg-6">
        <div style="padding-right: 10px">
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('ProductCategory')}">
                <div>
                    <label>Product Category <span class="text-danger">*</span></label>
                    <ui-select multi tagging="vm.tagging" ng-model="vm.maregistration.product.productCategory" theme="bootstrap" ng-validate="vm.maregistrationValidation.productdetail.productCategoryID" ng-disabled="vm.isInputDisabled('ProductCategory')" ng-change="vm.onChange('ProductCategory')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat=" item in vm.productCategories | filter: $select.search |orderBy:'name'">
                            <div ng-bind-html="item.name | highlight: $select.search "></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.productCategoryID && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('BrandName')}">
                <div>
                    <label>Proprietary Name (Trade Name)<span class="text-danger">*</span> </label>
                    <input id="freightcost" ng-model="vm.maregistration.product.brandName" name="freightcost" type="text" class="form-control" ng-validate="vm.maregistrationValidation.productdetail.brandName" ng-disabled="vm.isInputDisabled('BrandName')" ng-change="vm.onChange('BrandName')">
                </div>
                <div class="text-error-table" ng-if="!vm.maregistrationValidation.productdetail.brandName && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('GenericName')}">
                <div>
                    <label>Generic Name<span class="text-danger">*</span></label>
                    <ui-select ng-model="vm.maregistration.product.inn" theme="bootstrap_custom" ng-validate="vm.maregistrationValidation.productdetail.innID" user-input="Commodity.INN" ng-disabled="vm.isInputDisabled('GenericName')" ng-change="vm.onChange('GenericName')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.inns" refresh-callback="Commodity.INNSearch">
                        </ui-select-choices-custom>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.innID && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('DosageStrength')}">
                <div>
                    <label>Dosage Strength<span class="text-danger">*</span> </label>
                    <ui-select ng-model="vm.maregistration.product.dosageStrengthObj" theme="bootstrap_custom" ng-validate="vm.maregistrationValidation.productdetail.dosageStrength" user-input="Commodity.DosageStrength" ng-disabled="vm.isInputDisabled('DosageStrength')"
                        ng-change="vm.onChange('DosageStrength')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.dosageStrength" refresh-callback="Commodity.DosageStrengthSearch">
                        </ui-select-choices-custom>
                    </ui-select>
                </div>

                <div class="text-error-table" ng-if="!vm.maregistrationValidation.productdetail.dosageStrength && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('DosageUnit')}">
                <div>
                    <label>Dosage Unit<span class="text-danger">*</span></label>
                    <ui-select ng-model="vm.maregistration.product.dosageUnitObj" theme="bootstrap_custom" ng-validate="vm.maregistrationValidation.productdetail.dosageUnitID" user-input="Commodity.DosageUnit" ng-disabled="vm.isInputDisabled('DosageUnit')" ng-change="vm.onChange('DosageUnit')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.dosageUnits" refresh-callback="Commodity.DosageUnitSearch"></ui-select-choices-custom>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.dosageUnitID && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('DosageForm')}">
                <div>
                    <label>Dosage Form<span class="text-danger">*</span></label>
                    <ui-select ng-model="vm.maregistration.product.dosageFormObj" theme="bootstrap" ng-validate="vm.maregistrationValidation.productdetail.dosageForm" ng-disabled="vm.isInputDisabled('DosageForm')" ng-change="vm.onChange('DosageForm')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.dosageForms" refresh-callback="Commodity.DosageFormSearch"></ui-select-choices-custom>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.dosageForm && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div style="padding-left: 10px">
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('StandardClaimed')}">
                <div>
                    <label>Standard Claimed (BP, USP, IH, etc)<span class="text-danger">*</span></label>

                    <ui-select ng-model="vm.maregistration.product.pharmacopoeiaStandard" theme="bootstrap_custom" user-input="Commodity.PharmacopoeiaStandard" ng-validate="vm.maregistrationValidation.productdetail.pharmacopoeiaStandardID" ng-disabled="vm.isInputDisabled('StandardClaimed')"
                        ng-change="vm.onChange('StandardClaimed')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.pharmacopoeiaStandards" refresh-callback="Commodity.PharmacopoeiaStandardSearch"></ui-select-choices-custom>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.pharmacopoeiaStandardID && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('RouteOfAdministration')}">
                <div>
                    <label>Route of Administration<span class="text-danger">*</span></label>
                    <ui-select ng-model="vm.maregistration.product.adminRoute" theme="bootstrap" ng-validate="vm.maregistrationValidation.productdetail.adminRouteID" ng-disabled="vm.isInputDisabled('RouteOfAdministration')" ng-change="vm.onChange('RouteOfAdministration')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.adminRoutes" refresh-callback="Commodity.AdminRouteSearch"></ui-select-choices-custom>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.adminRouteID && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('AgeGroup')}">
                <div>
                    <label>Age Group</span></label><span class="text-danger">*</span>
                    <ui-select ng-model="vm.maregistration.product.ageGroup" theme="bootstrap" ng-validate="vm.maregistrationValidation.productdetail.ageGroupID" ng-disabled="vm.isInputDisabled('AgeGroup')" ng-change="vm.onChange('AgeGroup')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat=" item in vm.ageGroupes | filter: $select.search |orderBy:'name'">
                            <div ng-bind-html="item.name | highlight: $select.search "></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.ageGroupID && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('PharmacologicalClassification')}">
                <div>
                    <label>Pharmacological Classification</span></label><span class="text-danger">*</span>
                    <ui-select ng-model="vm.maregistration.product.pharmacologicalClassification" theme="bootstrap" ng-validate="vm.maregistrationValidation.productdetail.pharmacologicalClassificationID" ng-disabled="vm.isInputDisabled('PharmacologicalClassification')" ng-change="vm.onChange('PharmacologicalClassification')">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.pharmacologicalClassifications" refresh-callback="Commodity.PharmacologicalClassificationSearch"></ui-select-choices-custom>
                    </ui-select>
                </div>
                <div class=" text-error-table" ng-if="!vm.maregistrationValidation.productdetail.pharmacologicalClassificationID && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('ContainerType')}">
                <div>
                    <label>Packaging/container and Closure with Type <span class="text-danger">*</span> </label>
                    <input id="freightcost" ng-model="vm.maregistration.product.containerType" name="containerType" type="text" class="form-control" ng-validate="vm.maregistrationValidation.productdetail.packaging" ng-disabled="vm.isInputDisabled('ContainerType')" ng-change="vm.onChange('ContainerType')">
                </div>
                <div class="text-error-table" ng-if="!vm.maregistrationValidation.productdetail.packaging && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'{{vm.warning}}': vm.hasError('PackSize')}">
                <div>
                    <label>Pack Size<span class="text-danger">*</span> </label>
                    <ui-select style="min-height:33px;" name="userRoles" multiple ng-model="vm.maregistration.product.presentations" theme="bootstrap_custom" user-input="LookUp.PackSize" ng-validate="vm.maregistrationValidation.productdetail.presentations" ng-disabled="vm.isInputDisabled('PackSize')"
                        ng-change="vm.onChange('PackSize')">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices-custom collection="vm.packSizes" refresh-callback="LookUp.PackSizeSearch"></ui-select-choices-custom>
                    </ui-select>
                </div>
                <div class="text-error-table" ng-if="!vm.maregistrationValidation.productdetail.presentations && vm.maregistrationValidation.productdetail.$showError">
                    <span ng-include="'app/importPermit/new/templates/requiredField.html'"></span>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a ng-click="vm.saveDraft()"  ng-if="!vm.isLegacy && !vm.firOrRta" class="btn btn-default">Save</a>
            <a ui-sref="{{vm.states.general}}" ng-click="vm.slickConfig.method.slickNext()" class="btn btn-default">Previous</a>
            <a ng-click="vm.productToContinued()" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>
