<div id="dossier" class="table-responsive">
  <table class="table table-striped mainTable">
    <thead>
    <tr>
      <th class="attachmentDetail">Attachement</th>
      <th class="name">File Name</th>
      <th class="upload">Uploaded</th>
      <th class="action">Action</th>
    </tr>
    </thead>
    <tbody ng-include="'data-body'"></tbody>
  </table>
</div>




<script type="text/ng-template " id="data-body">
  <tr ng-repeat-start="md in vm.dossierDocuments | filter: vm.dossierCustomFilterFunction | orderBy:'moduleDocument.documentType.name'  track by $index "
      ng-init="md.rowExpanded=true; iterationDepth=1;">
    <td colspan="{{(md.children && md.children.length > 0) ? 4 : 1}}">
      <span ng-if="md.rowExpanded==false && md.children && md.children.length > 0" ng-click="md.rowExpanded=true"
            class="btn-sm glyphicon glyphicon-menu-down"></span>
      <span ng-if="md.rowExpanded==true && md.children && md.children.length > 0" ng-click="md.rowExpanded=false"
            class="btn-sm glyphicon glyphicon-menu-up"></span>
      <span>{{md.moduleDocument.documentType.name}} <span class="text-danger" ng-if="md.isRequired">*</span></span>
      <br>
      <small class="pad-left-detail">{{md.moduleDocument.documentType.description}}</small>
    </td>
    <td ng-if="!(md.children && md.children.length > 0)">
      {{md.originalFileName | filterNull}}
    </td>
    <td ng-if="!(md.children && md.children.length > 0)">
      {{md.createdDate|date}}
    </td>
    <td ng-if="!(md.children && md.children.length > 0)">
      <button class="btn btn-primary btn-outline" type="button" ng-click="vm.openFileModal(md)">
        <i class="fa fa-eye text-navy"></i>
      </button>
      <button class="btn btn-primary btn-outline" type="button" ng-click="vm.downloadAttachment(md)" ng-href="{{vm.fileURL}}" download="{{md.moduleDocument.documentType.name}}">
        <i class="fa fa-download text-navy"></i>
      </button>
    </td>
  </tr>
  <tr ng-if="md.rowExpanded==true" ng-repeat-end>
    <td class="detailwrapper" colspan="4" ng-include src="'data-children'"></td>
  </tr>

</script>

<script type="text/ng-template " id="data-children">
  <table class="table table-hovered table-striped detailTable">
    <tbody>
    <tr ng-repeat-start="md in md.children | filter: vm.dossierCustomFilterFunction | orderBy:'moduleDocument.documentType.name' track by $index"
        ng-init="md.rowExpanded=false;  md.depth=iterationDepth;">
      <td class="attachmentDetail" ng-style="{'padding-left': md.depth*35 +'px'}" colspan="{{(md.children && md.children.length > 0) ? 4 : 1}}">
              <span ng-if="md.rowExpanded==false && md.children && md.children.length > 0" ng-click="md.rowExpanded=true"
                    class="btn-sm glyphicon glyphicon-menu-down"></span>
        <span ng-if="md.rowExpanded==true && md.children && md.children.length > 0" ng-click="md.rowExpanded=false"
              class="btn-sm glyphicon glyphicon-menu-up"></span>
        <span>{{md.moduleDocument.documentType.name}} <span class="text-danger" ng-if="md.isRequired">*</span></span>
        <br>
        <small>{{md.moduleDocument.documentType.description}}</small>
      </td>
      <td class="name" ng-if="!(md.children && md.children.length > 0)">
        {{md.originalFileName | filterNull}}
      </td>
      <td class="upload" ng-if="!(md.children && md.children.length > 0)">
        {{md.createdDate|date}}
      </td>
      <td class="action" ng-if="!(md.children && md.children.length > 0)">
        <button class="btn btn-primary btn-outline" type="button" ng-click="vm.openFileModal(md)">
          <i class="fa fa-eye text-navy"></i>
        </button>
        <button class="btn btn-primary btn-outline" type="button" ng-click="vm.downloadAttachment(md)" ng-href="{{vm.fileURL}}" download="{{md.moduleDocument.documentType.name}}">
          <i class="fa fa-download text-navy"></i>
        </button>
      </td>
    </tr>
    <tr ng-if="md.rowExpanded==true" ng-repeat-end>
      <td class="detailwrapper" colspan="4" ng-include src="'data-children'" data-onload="iterationDepth = iterationDepth + 1;" style="padding: 0;"></td>
    </tr>
    </tbody>
  </table>
</script>


