<div class="row">
  <form  name="changeForm"  class="m-t" role="form"  ng-validate-form="self.changeValidation">
    <div class="form-group col-md-12" >
      <div class="col-xs-12">
        <label>Old Password *</label>
        <div>
          <input type="password" name="oldPassword" class="form-control" ng-model="self.changeModel.oldPassword" ng-validate="self.changeValidation.oldPassword">
        </div>
      </div>
      <div class="col-xs-12">
        <span ng-if="!self.changeValidation.oldPassword && self.changeValidation.$showError" class="help-block text-danger">Old password is required</span>
      </div>
    </div>
    <div class="form-group col-md-12" >
      <div class="col-xs-12">
        <label>New Password *</label>
        <div>
          <input type="password" name="newPassword" class="form-control" ng-model="self.changeModel.newPassword" ng-validate="self.changeValidation.newPassword">
        </div>
      </div>
      <div class="col-xs-12 ">
        <span ng-if="!self.changeValidation.newPassword && self.changeValidation.$showError && self.passwordConfirmed" class="help-block text-danger">New password is required</span>
        <span ng-if="!self.passwordConfirmed && changeForm.newPassword.$touched" class="help-block text-danger">New password doesn't match</span>
      </div>
    </div>
    <div class="form-group col-md-12">
      <div class="col-xs-12">
        <label>Confirm *</label>
        <div>
          <input type="password" name="Confirm" class="form-control" ng-model="self.changeModel.Confirm" ng-validate="self.changeValidation.confirm">
        </div>
      </div>
      <div class="col-xs-12 ">
        <span ng-if="!self.changeValidation.confirm && self.changeValidation.$showError && self.passwordConfirmed" class="help-block text-danger">Confirmation is required</span>
        <span ng-if="!self.passwordConfirmed && changeForm.Confirm.$touched" class="help-block text-danger">New password doesn't match</span>
      </div>
    </div>
  </form>
</div>
